<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.app.imusic.plugin"
      version="0.1.0">
    <name>Musicdata</name>
    <description>Sample PhoneGap Music Metadata Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,audio</keywords>
 
 
    <js-module src="www/getmetadata.js" name="MusicData">
        <clobbers target="window.songPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="android-package" value="com.app.imusic.plugin.MyPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/MyPlugin.java" target-dir="src/com/app/imusic/plugin" />      
     </platform>          
</plugin>